.card {
  width: 250px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
  background: white;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  border-radius: 10px;
}

.price {
  color: red;
  font-weight: bold;
}

.add-btn {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background: #0056b3;
}
